<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="PROG5.css"?>
<STUDENTDATA>
	<STUDENT>
		<USN>USN   : 3GN16CS002</USN>
		<NAME>NAME : SHEETAL MORE</NAME>
		<COLLEGE>COLLEGE : MESCOE</COLLEGE>
		<BRANCH>BRANCH :CSE</BRANCH>
		<YEAR>YEAR : 2019</YEAR>
		<EMAIL>E-MAIL : sheetal@gmail.com</EMAIL>
	</STUDENT>
	<STUDENT>
		<USN>USN : 3GN16CS029</USN>
		<NAME>NAME : SNEHA MANE</NAME>
		<COLLEGE>COLLEGE : GNDECB</COLLEGE>
		<BRANCH>BRANCH :CSE</BRANCH>
		<YEAR>YEAR : 2019</YEAR>
		<EMAIL>E-MAIL : sneha@gmail.com</EMAIL>
	</STUDENT>
	<STUDENT>
		<USN>USN   : 3GN16CS026</USN>
		<NAME>NAME : SMITA</NAME>
		<COLLEGE>COLLEGE : GNDECB</COLLEGE>
		<BRANCH>BRANCH :CSE</BRANCH>
		<YEAR>YEAR : 2019</YEAR>
		<EMAIL>E-MAIL : smita@gmail.com</EMAIL>
	</STUDENT>
</STUDENTDATA>
